@model DTO.ShopDTO.ShopListDTO
@inject LanguageService language
@{
    ViewBag.Title = "Shop | Fatimah Boutique";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int checkCount = 0;
}


<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shop Listing</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Məhsullarımız</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Category Slider Section Start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slide-7-1 product-wrapper slick-lg-space">
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring3.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>tops</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring1.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>bottom</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring2.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Bags</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring3.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Üzükər</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring3.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Qolbağlar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring2.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Boyunbağlıar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/blogImages/ring1.jpeg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Bilərzik</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/12.jpg" class="w-100 blur-up lazyload"
                                     alt="">
                                <div class="image-contain">
                                    <h5>Sırğalar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Slider Section End -->
<!-- Shop Section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="category-option">
                    <div class="button-close mb-3">
                        <button class="btn p-0"><i data-feather="arrow-left"></i> Close</button>
                    </div>
                    <div class="accordion category-name" id="accordionExample">
                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo">
                                    Brand
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach (var item in Model.Categories)
                                        {
                                            checkCount++;
                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input form="filter-form" class="checkbox_animated check-it" type="checkbox"
                                                           id="flexCheckDefault@checkCount"
                                                           name="categoryId"
                                                           value="@item.Id" @(ViewBag.CategoryIds.Contains(item.Id) ? "checked" : "") />
                                                    <label class="form-check-label" for="flexCheckDefault@checkCount">@item.Name</label>
                                                    <p class="font-light">(@item.Products.Count)</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-price">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour">
                                    Price
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse show"
                                 aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="range-slider category-list">
                                        <input type="text" class="js-range-slider" value="" />
                                    </div>

                                    <input id="maxPriceInput" form="filter-form" type="hidden" name="maxPrice" value="" />
                                    <input id="minPriceInput" form="filter-form" type="hidden" name="minPrice" value="" />
                                    
                                    <input type="hidden" id="jsValueMin" value="@ViewBag.MinPrice" />
                                    <input type="hidden" id="jsValueMax" value="@ViewBag.MaxPrice" />
                                    <input type="hidden" id="jsMaxPriceLimit" value="@ViewBag.MaxPriceLimit" />

                                    <div style="margin-top: 30px; margin-left: 65px">
                                        <form method="get" id="filter-form">
                                            <button class="btn btn-m cart-button theme-bg-color
                                                    text-white" type="submit">
                                                @language.GetKey("Axtar")
                                            </button>
                                        </form>
                                    </div>

                                    @* <script>
                                        $(function () {
                                            var $range = $(".js-range-slider"),
                                                $inputFrom = $("#minPriceInput"),
                                                $inputTo = $("#maxPriceInput"),
                                                instance,
                                                min = 0,
                                                max = @ViewBag.MaxPriceLimit,
                                                from = @ViewBag.MinPrice,
                                                to = @ViewBag.MaxPrice;

                                            $range.ionRangeSlider({
                                                type: "double",
                                                min: min,
                                                max: max,
                                                from: 0,
                                                to: @ViewBag.MaxPrice,
                                                prefix: "$ ",
                                                onStart: updateInputs,
                                                onChange: updateInputs,
                                                step: 1,
                                                prettify_enabled: true,
                                                prettify_separator: ".",
                                                values_separator: " - ",
                                                force_edges: true,
                                            });

                                            instance = $range.data("ionRangeSlider");

                                            function updateInputs(data) {
                                                from = "$" + data.from;
                                                to = "$" + data.to;

                                                $inputFrom.prop("value", from);
                                                $inputTo.prop("value", to);
                                            }

                                            $inputFrom.on("input", function () {
                                                var val = $(this).prop("value");

                                                // validate
                                                if (val < min) {
                                                    val = min;
                                                } else if (val > to) {
                                                    val = to;
                                                }

                                                instance.update({
                                                    from: val,
                                                });
                                            });

                                            $inputTo.on("input", function () {
                                                var val = $(this).prop("value");

                                                // validate
                                                if (val < from) {
                                                    val = from;
                                                } else if (val > max) {
                                                    val = max;
                                                }

                                                instance.update({
                                                    to: val,
                                                });
                                            });
                                        });
                                    </script> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12 ratio_30">
                <div class="row g-4">
                    <!-- filter button -->
                    <div class="filter-button">
                        <button class="danger-button danger-center btn btn-sm filter-btn">
                            <i data-feather="align-left"></i> Filter
                        </button>
                    </div>
                  
                    <div class="col-md-12">
                        <h3 class="mb-3">@Model.Products.Count() Aksesuar tapıldı</h3>
                    </div>

                    <div class="col-12">
                        <div class="filter-options">
                            <div class="select-options">
                                <div class="page-view-filter">
                                    <div class="dropdown select-featured">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Filter:
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sort = "AtoZ" })">
                                                    A-dan Z-yə
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sort = "ZtoA" })">
                                                    Z-dən A-ya
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sort = "LowToHigh" })">
                                                    Artan qiymətlə
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sort = "HighToLow" })">
                                                    Azalan qiymətlə
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sort = "AddingDate" })">
                                                    Ən son paylaşılanlar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                             @*    <div class="dropdown select-featured">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Featured
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)">Jeans</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)">T-Shirt</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)">Shirt</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)">Jacket</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)">Hoodie</a>
                                        </li>
                                    </ul>
                                </div> *@
                            </div>
                            <div class="grid-options d-sm-inline-block d-none">
                                <ul class="d-flex">
                                    <li class="two-grid">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/svg/grid-2.svg" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </a>
                                    </li>
                                    <li class="three-grid d-md-inline-block d-none">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/svg/grid-3.svg" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </a>
                                    </li>
                                    <li class="grid-btn active d-lg-inline-block d-none">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/svg/grid.svg" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </a>
                                    </li>
                                    <li class="list-btn">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/svg/list.svg" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- label and featured section -->
                <!-- Product section -->
               <div class="row g-sm-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">
                    @foreach (var item in Model.Products)
                    {
                        <div>
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-left-sidebar.html">
                                            <img src="@item.ProductsImages.FirstOrDefault(x=>x.IsMain == true).ImageUrl"
                                                 class="bg-img blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="product-left-sidebar.html">
                                            <img src="@item.ProductsImages.FirstOrDefault(x=>x.IsMain == false).ImageUrl"
                                                 class="bg-img blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-wrap">
                                        <ul>
                                            <li>
                                                <a asp-action="addtobasket" asp-controller="product" asp-route-id="@item.Id" class="addtocart-btn addtobasket">
                                                    <i data-feather="shopping-bag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id" class="quick-view-modal-btn">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                   data-bs-target="#quick-view">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                         
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <div class="rating-details">
                                        <span class="font-light grid-content">@item.Categories.Name</span>
                                    </div>
                                    <div class="main-price">
                                        <a href="product-left-sidebar.html" class="font-default">
                                            <h5 >@item.Name</h5>
                                        </a>
                                        <div class="listing-content">
                                            <span class="font-light">Regular Fit</span>
                                            <p class="font-light">
                                                @item.Description;
                                            </p>
                                        </div>
                                        @if (item.SalesStatus)
                                        {
                                            <h3 class="theme-color">@item.Price ₼</h3>
                                        }
                                        else
                                        {
                                            <h3 class="theme-color">@item.Price ₼</h3>
                                        }
                                        <button onclick="location.href = 'cart.html';" class="btn listing-content">
                                           @language.GetKey("Səbətə at")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    
           
                    <!-- Prodcut setion -->
                </div> 

                <nav class="page-section">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section end -->
<!-- Quick View Modal Box Start-->
<div class="modal fade quick-view-modal" id="quick-view">
    <div class="modal-dialog modal-lg modal-dialog-centered">

    </div>
</div>
<!-- Quick View Modal Box End-->


<script src="~/voxo-ui/voxo/front-end/assets/js/script.js" defer></script>
<script src="~/assets/js/view-modal.js" defer></script>
<script src="~/voxo-ui/voxo/front-end/assets/js/lazysizes.min.js" defer></script>
@* <script src="~/assets/js/price-filter.js" defer></script> *@