@model DTO.BlogsDTO.ProductDetailDTO
@{
    ViewBag.Title = "Detailed Information | Fatimah Boutique";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int zoomPoint = 1;
    int clsPoint = 0;
    int languageId = 1;
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Product Left Sidebar</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Product Left Sidebar</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Shop Section start -->
<section>
    <div class="container">
        <div class="row gx-4 gy-5">

            <div class="col-lg-9 col-12">
                <div class="details-items">
                    <div class="row g-6">
                        <div class="col-lg-5 col-md-6">
                            <div class="degree-section">
                                <div class="details-image ratio_asos">
                                    @foreach (var item in Model.Product.BlogImages)
                                    {
                                        <div>
                                            <div class="product-image-tag">
                                                <img src="~/assets/blogImages/@item.ImageUrl" id="zoom_0$@zoomPoint"
                                                     data-zoom-image="~/assets/blogImages/@item.ImageUrl"
                                                     class="img-fluid w-100 image_zoom_cls-@clsPoint blur-up lazyload" alt="">

                                                <div class="label-tag">
                                                    <h6>
                                                        <i class="fas fa-star"></i> 4.8 <span class="font-light">120</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>

                                        zoomPoint++;
                                        clsPoint++;
                                    }
                                </div>

                                <div class="details-image-option black-slide mt-4 rounded">
                                    @foreach (var item in Model.Product.BlogImages)
                                    {
                                        <div>
                                            <img src="~/assets/blogImages/@item.ImageUrl" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="cloth-details-size">
                                <div class="details-image-concept">
                                    <h2>@Model.Product.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Title</h2>
                                </div>

                                <div class="label-section">
                                    <span class="badge badge-grey-color">@Model.Product.Categories.CategoryLanguages.FirstOrDefault(x => x.LanguageId == languageId).CategoryName</span>
                                </div>

                                @if (Model.Product.DiscountPrice != 0)
                                {
                                    <h3 class="price-detail">$@((Model.Product.SalesPrice * (100 - Model.Product.DiscountPrice) / 100).ToString("0.00")) <del>$@(Model.Product.SalesPrice.ToString("0.00"))</del><span>@Model.Product.DiscountPrice% off</span></h3>
                                }
                                else
                                {
                                    <h3 class="price-detail">$@((Model.Product.SalesPrice * (100 - Model.Product.DiscountPrice) / 100).ToString("0.00"))</h3>
                                }

                                <div id="selectSize" class="addeffect-section product-description border-product">
                                    <h6 class="product-title size-text">
                                        description
                                    </h6>

                                    <div class="size-box">
                                        <p class="font-light">
                                            @Model.Product.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Description
                                        </p>
                                    </div>
                                    <h6 class="product-title product-title-2 d-block">quantity</h6>

                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus"
                                                        data-type="minus" data-field="">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" class="form-control input-number"
                                                   value="1">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus"
                                                        data-type="plus" data-field="">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-buttons">
                                    <a href="javascript:void(0)" id="cartEffect"
                                       class="btn btn-solid hover-solid btn-animation">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add To Cart</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section end -->
<!-- product section start -->
<section class="ratio_asos section-b-space overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-lg-4 mb-3">Related Products</h2>
                <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space">
                    @foreach (var item in Model.RelatedProducts)
                    {
                        <div>
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-left-sidebar.html">
                                            <img src="~/assets/blogImages/@item.BlogImages.FirstOrDefault(x=>x.IsMain == true).ImageUrl"
                                                 class="bg-img blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="product-left-sidebar.html">
                                            <img src="~/assets/blogImages/@item.BlogImages.FirstOrDefault(x=>x.IsMain == false).ImageUrl"
                                                 class="bg-img blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-wrap">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocart-btn"
                                                   data-bs-toggle="modal" data-bs-target="#addtocart">
                                                    <i data-feather="shopping-bag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id" class="quick-view-modal-btn">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <div class="rating-details">
                                        <span class="font-light grid-content">@item.Categories.CategoryLanguages.FirstOrDefault(x => x.LanguageId == languageId).CategoryName</span>
                                    </div>
                                    <div class="main-price">
                                        <a href="product-left-sidebar.html" class="font-default">
                                            <h5>@item.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Title</h5>
                                        </a>
                                        <div class="listing-content">
                                            <span class="font-light">Regular Fit</span>
                                            <p class="font-light">
                                                @item.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Description
                                            </p>
                                        </div>
                                        <h3 class="theme-color">$@((item.SalesPrice * (100 - item.DiscountPrice) / 100).ToString("0.00"))</h3>
                                        <button onclick="location.href = 'cart.html';" class="btn listing-content">
                                            Add
                                            To Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- Quick View Modal Section Start -->
<div class="modal fade quick-view-modal view-modal" id="view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    </div>
</div>
<!-- Quick View Modal Section End -->

@section styles{
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- Plugin CSS file with desired skin -->
    <link rel="stylesheet" href="~/assets/css/vendors/ion.rangeSlider.min.css" />

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/demo2.css">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/demo4.css">
}

@section scripts{
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.5.1.min.js" defer></script>

    <!-- Add To Home js -->
    <script src="~/assets/js/pwa.js" defer></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js" defer></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js" defer></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js" defer></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js" defer></script>
    <script src="~/assets/js/slick/slick-animation.min.js" defer></script>
    <script src="~/assets/js/slick/custom_slick.js" defer></script>

    <!-- Notify js-->
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js" defer></script>

    <!-- timer js -->
    <script src="~/assets/js/timer.js" defer></script>

    <!-- sticky cart bottom js-->
    <script src="~/assets/js/sticky-cart-bottom.js" defer></script>

    <!-- sticky cart bottom js-->
    <script src="~/assets/js/check-box-select.js" defer></script>

    <!-- Zoom Js -->
    <script src="~/assets/js/jquery.elevatezoom.js" defer></script>
    <script src="~/assets/js/zoom-filter.js" defer></script>

    <!--Plugin JavaScript file-->
    <script src="~/assets/js/ion.rangeSlider.min.js" defer></script>

    <!-- Filter Hide and show Js -->
    <script src="~/assets/js/filter.js" defer></script>

    <!-- add to cart modal resize -->
    <script src="~/assets/js/cart_modal_resize.js" defer></script>

    <!-- Notify js-->
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js" defer></script>

    <!-- script js -->
    <script src="~/assets/js/theme-setting.js" defer></script>
    <script src="~/assets/js/script.js" defer></script>
    <script src="~/assets/js/view-modal.js" defer></script>
}

@section modals{
    @Html.Partial("Modals/_CartSuccessfulPartial");
    @Html.Partial("Modals/_SizeModalPartial");
    @Html.Partial("Modals/_AddToCartNotificationPartial");
}