<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="~/assets/images/favicon/4.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/assets/images/favicon/4.png">
    <meta name="theme-color" content="#e87316">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileImage" content="~/assets/images/favicon/4.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/images/favicon/4.png" type="image/x-icon">
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    @RenderSection("styles", required: false)

    <!-- JS -->
    @RenderSection("scripts", required: false)

</head>

<body class="theme-color4 light ltr">

    @RenderBody()

    @RenderSection("modals",required: false)
    @Html.Partial("_TapToTopStartPartial")

    <!-- bg overlay start -->
    <div class="bg-overlay"></div>
    <!-- bg overlay end -->

    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        });
    </script>

</body>

</html>